.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group .tab a {
    display: block;
    text-decoration: none;
    padding: 5px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 14px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group .tab a:hover {
    background: #179b77;
    color: #ffffff;
}

.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}